{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block article %}
    <aside class="l_box">
        <div class="about_me">
            <h2>关于我</h2>
            <ul>
                <i><img src="{% static 'images/1.jpg' %}"></i>
                <p><b>余</b>{{ intr }}</p>
            </ul>
        </div>

         <div class="search">
                    <form action="/search/" method="get" name="search-form" id="searchform">
                        <input name="search-text" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);">

                        <input name="Submit" class="input_submit" value="搜索" type="submit">
                    </form>
                </div>

        <div class="fenlei">
            <h2>文章分类</h2>
            <ul>
                {% for category in categories %}
                    <li><a href="/category/{{ category.name }}/">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </aside>
    <main class="r_box">
        <div class="about">
            <p class="intr" style="margin-bottom: 20px">{{ intr }}</p>
            <p class="info">{{ info }}</p>
        </div>
    </main>
{% endblock %}





